body{
    background-color: lightseagreen;
}
.kotak{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 580px;
    font-family: Tahoma;
    color: white;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
p{
    text-align: center;
    font-size: 24pt;
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#submit{
    text-align: center;
    background-color: lightseagreen;
    width: 100%;
    height: 50px;
    font-size: 20pt;
    padding: 5px 0;
    border: none;
    color: white;
}
#nilai{
    font-size: 18pt;
    width: calc(100%);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid lightseagreen;  
}