.error{
    color: #e29766;
}
table{
    width: 700px;
    height: 650px;
    background-color: #4C7AA3;
}
#judul{
    background-color: #8aac89;
    color: white;
}
label{
    color: white;
}
#inama, #ialamat, #itelepon, #imail{
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #8aac89;  
    color: white;
}
#iasal{
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #8aac89;  
    color: black;
}
#hasil{
    font-family: Tahoma;
    color: white;
}
#hasil h2{
    background-color: #8aac89;
}
#kumpul, #batal{
    font-family: Tahoma;
    background-color: #e29766;
    width: 25%;
    height: 35px;
    padding: 5px 0;
    border: none;
    color: black;
    font-size: 16pt;
}
#kumpul:hover {
    background-color: sandybrown;
}
#batal:hover{
    background-color: sandybrown;
}