p{
    color:#FFFFFF;
    font-size: 22pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.gambar1{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gambar2{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    margin-left: auto;
                margin-right: auto;
                padding: 2px;
}
.form_bio{
    font-family: Helvetica;
    font-size: 18pt;
    color: #FFFFFF;
}